/* shared styles */
* {
    margin: 0;
    padding: 0;
}

/* header styles */
img {
    width: 100%;
}

header {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .title h2 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
}

header nav .links-icons {
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .container .links-icons .links a {
    margin-left: 35px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

header nav .container .links-icons .icons {
    display: flex;
    align-items: center;
}

header nav .container .links-icons .icons .search {
    width: 24px;
}

header nav .container .links-icons .icons .shopping-cart {
    width: 36px;
    margin-left: 35px;
}

.header {
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    display: flex;
    gap: 150px;
}

.header .text-btn {
    width: 45%;
}

.header .text-btn h1 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.header .text-btn p {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 75px;
    margin-bottom: 15px;
}

.header .text-btn button {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 5px 10px;
}

.header .img {
    background-image: url(../images/Circle\ design.svg);
}

@media screen and (max-width:576px) {

    header {
        margin-top: 35px;
    }

    .title {
        text-align: center;
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
    }

    .links-icons {
        flex-direction: column;
    }


    .links {
        display: flex;
        text-align: center;
    }

    .header {
        flex-direction: column-reverse;
        text-align: center;
    }

    .header .text-btn {
        width: 100%;
        text-align: center;
    }

    .header .text-btn p {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }


}

@media screen and (min-width:576px) and (max-width:960px) {
    .container {
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-bottom: 10px;
    }

}